/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Reset */
*{
	margin: 0;
	padding: 0;
	outline: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none !important;
}

a:active{
    color: #2f2f2f;
}

.owl-nav, .owl-dots {
    display: none;
}

.link{
    color: #46aaf7;
}

/* Header */
header{
    background: #fff;
    z-index: 100;
}

header div{
    max-width: 1800px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 a{
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #570568;
}

header h1 a:hover{
    transition: 1s;
    color: #86045b;
}

.header-menu-actions {
    display: none;
}

.search-container-desktop form{
    border: 1px solid #3d1e47;
    padding: 10px;
    font-size: 15px;
    gap: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-container-desktop form input{
    border: 0;
    width: 450px;
    background: none;
}

.search-container-desktop form button{
    background: none;
    border: 0;
    cursor: pointer;
}

.search-container-desktop form button i{
    font-size: 22px;
    color: #3d1e47;
    padding-right: 10px;
}

.search-container-desktop form button i:hover{
    color: #350a91;
    transition: .3s;
}

.menu ul{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0;
}

.menu ul li a{
    color: #2a1e47;
    font-size: 15px;
}

.menu ul li a:hover, footer p a:hover{
    opacity: .5;
}

.overlay {
    display: none;
}

#menu-mobile {
    display: none !important;
}

.user-menu-mobile {
    display: flex;
    background-color: #150d2b;
    margin-inline: 0;
    padding: 20px 0;
}

.user-menu-mobile > .img-user-menu {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background-color: #ccc;
}

.user-info-menu-mobile {
    margin: 0;
    padding: 0;
    width: 70%;
}

.user-info-menu-mobile h2 {
    font-size: 15px;
    margin-bottom: 5px;
}

.user-info-menu-mobile p {
    font-size: 12px;
    margin: 0;
}

.report-error-link {
    font-size: 11px;
    margin-left: 10px;
}

.logout-mobile-btn {
    color: #5719fd;
    padding: 6px;
    font-size: 15px;
    margin-right: 10px;
    border-radius: 5px;
}

.logout-mobile-btn:hover {
    opacity: .8;
}

.main-btn {
    display: flex;
    flex-direction: column;
    background-color: #150d2b;
    margin-inline: 0;
    padding: 20px 0;
}

.main-btn a{
    border: 1px solid #fff;
    color: #fff;
    margin: 5px 0;
    padding: 10px;
    font-size: 14px;
    width: 90%;
    text-align: center;
}

.main-btn a:nth-child(1){
    background: #5100c0;
    border: 1px solid #5100c0;
}

.main-btn a:hover {
    color: #fff;
    opacity: .8;
}

.menu-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    padding: 20px;
    width: 100%;
}

.menu-section p{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}

.menu-section a{
    margin: 5px 0;
    font-size: 14px;
    color: #5719fd;
    width: 100%;
    border-bottom: 1px solid #000;
    padding: 5px 0px;
}

.menu-mobile-active {
    height: 100vh;
    width: 80%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000;
    background: #fff;
    border-left: 1px solid #fff;
}

.closeMenu {
    background: none;
    border: 0;
    display: flex;
    justify-content: end;
    margin: 14px 17px 0 0;
}

.closeMenu i {
    font-size: 30px;
    color: #fff;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #00000047;
}

/* Footer */
footer{
    background: #212121;
    text-align: center;
    padding-bottom: 40px;
}

.footer-social-links {
    margin: 0;
    padding: 0;
}

.footer-social-links li a {
    font-size: 20px;
    color: #ccc;
}

.terms  {
    margin-bottom: 0 !important;
}

footer div .terms > li > * {
    color: #ccc;
    margin: 0;
    font-size: 13px;
}

footer div .terms > li > a:hover {
    opacity: .8;
}

@media (min-width: 992px) and (max-width: 1300px){
    header h1 a svg {
        width: 40px;
    }
    header h1 a span {
        font-size: 15px;
    }
    .menu ul {
        gap: 18px;
    }
    .menu ul li a{
        color: #2a1e47;
        font-size: 12.6px;
    }
    .search-container-desktop form {
        font-size: 13px;
    }
    .search-container-desktop form input{
        width: 300px;
    }
    .search-container-desktop form button i{
        font-size: 15px;
    }
}

@media screen and (max-width: 992px) {
    header {
        justify-content: space-between;
        padding: 3px 0;
    }
    header h1 a svg {
        width: 45px;
    }
    header h1 a span {
        font-size: 16px;
    }
    .header-menu-actions {
        display: flex !important;
        padding: 0;
    }
    .header-menu-actions button {
        background: none;
        border: 0;
    }
    .header-menu-actions button i {
        font-size: 20px;
        color: #4f2258;
    }
    .search-container-desktop, #menu {
        display: none !important;
    }
    .about .content {
        margin: 0;
        margin-bottom: 50px !important;
    }
    .menu, .menu ul {
        flex-direction: column;
    }
    .menu ul {
        padding-left: 0;
        margin-top: 30px;
    }
    .menu ul li a {
        color: #fff;
    }
    .about .content div > ul {
        padding-left: 10px;
    }
    footer div, .terms {
        flex-direction: column;
    }
    footer div div:first-child {
        padding-bottom: 0 !important;
    }
    .footer-social-links {
        margin-top: 20px;
    }
    .footer-social-links li a i {
        font-size: 30px;
    }
    .terms li {
        margin: 10px 0;
    }
}
