.profile-container {
    padding: 70px 0 0px 0;
    /* min-height: 79vh; */
}

.profile-container h2 {
    line-height: 1.5;
}

.profile-form {
    margin: 0 auto;
    gap: 50px;
}

.img-profile {
    height: 150px;
}

.user-photo {
    border-radius: 50%;
    object-fit: cover;
}

.img-profile > * {
    cursor: pointer;
}

.img-profile p {
    position: absolute;
    margin-top: 50px;
}

.profile-container h2 {
    font-weight: bold;
    font-size: 30px;
}

/* Start -Made by @alexruix */
.input-group > label, .btn-add-group > p {
    display: block;
    margin-top: .2rem;
    font-size: .9rem;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.input-group > input {
    height: 44px;
    background-color: #e5e6e7;
    border-radius: .5rem !important;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.input-group > textarea {
    width: 100%;
    min-height: 100px;
    background-color: #e5e6e7;
    border-radius: .5rem !important;
    padding: 1rem;
    border: 2px solid transparent;
    font-size: .9rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}


.input-group input:hover, .input-group input:focus, .input-group:hover input,
.input-group > textarea:hover, .input-group > textarea:focus, .input-group:hover > textarea
{
    outline: none;
    border-color: #05060f;
}

.input-group:hover label, .input-group label:focus {
    color: #05060fc2;
}
/* End */

.user-photo {
    cursor: pointer;
}

.camera-img-icon i {
    font-size: 23px;
}

.profile-form button {
    border: 2px solid #722bc2;
    color: #722bc2;
    background: none;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .7s;
}

.profile-form i{
    margin-left: 4px;
}

.profile-form button:hover {
    background: #722bc2;
    color: #fff;
    border: 2px solid #4a009d;
}

.date-experience {
    display: flex;
}

.btn-add-group {
    border-bottom: 1px solid #93949d99;
    margin: 10px 0 15px 0;
    cursor: pointer;
}

.btn-add-group > p {
    font-size: 19px;
    margin: 5px;
}

.btn-add-group:hover {
    opacity: .6;
    transition: .6s;
}

.current-work-container {
    padding-left: 5px;
}


@media screen and (max-width: 568px) {

    .profile-container {
        padding: 40px 0 0 0;
    }
    .profile-form {
        flex-direction: column !important;
        gap: 0;
    }
    .profile-container h2 {
        padding: 10px;
        font-size: 20px;
    }
    .create-profile-text {
        font-size: 13.5px;
        margin: 0 !important;
    }
    .input-group, .profile-form button {
        max-width: 90% !important;
        margin: 0 auto;
    }
    .input-group > input {
        width: 100%;
    }
    .input-group > input, .input-group > textarea {
        background-color: #e5e6e7;
    }
    .support-text {
        font-size: 13px;
    }
    .about-user {
        width: 90% !important;
        margin: 0 auto;
    }
    .btn-add-group > p {
        font-size: 16px;
    }
    .input-group-textarea {
        margin-bottom: 0 !important;
    }
    #textarea-group {
        margin-bottom: 0 !important;
    }
    .date-experience {
        display: block !important;
    }
    .date-experience > div:first-of-type {
        margin-bottom: 25px;
    }
    .current-work-container {
        padding-left: 20px !important;
    }
    .current-work-container label {
        font-size: 14px !important;
    }
    .modal-header {
        padding: 17px 25px 12px 20px !important;
    }
}
