.register-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
}

.register-content h2 {
    font-size: 40px;
}

.register-content p{
    font-size: 15px;
    margin: 10px 0;
    text-align: center;
}

.register_form .input{
    border: 1.5px solid #bcbcbc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    margin: 7px 0;
}

.register_form input{
    width: 100%;
    border: 0;
    font-size: 14px;
}

.register_form .input i{
    padding-inline: 5px;
    font-size: 22px;
}

.register_form button{
    border: 1px solid #722bc2;
    color: #722bc2;
    background: none;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.register_form i{
    margin-left: 4px;
}

.error-msg {
    padding-inline: 20px;
}

.error-msg ul {
    border: 2px solid #ed6b6b;
    color: #ed6b6b;
    padding: 10px 20px;
    border-radius: 5px;
}

.signin-content p a{
    color: #7014e1;
}

.register_form button:hover{
    transition: .5s;
    background: #722bc2;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .register-content {
        margin: 40px 0;
        justify-content: flex-start;
        min-height: 70vh;
    }
    .register_form .input{
        margin: 20px 0;
    }
    .register_form {
        padding-inline: 20px !important;
        margin-bottom: 50px;
    }
    .register-content h2 {
        font-size: 33px;
    }
}
